.admin-dashboard{
    width: 90vw;
    min-height: 71vh;
    /* border: 2px solid #4C5FD5; */
    border: 2px solid #444444;
    border-radius: 1rem;
    margin: 13px 0px 13px 0px; 
    padding: 13px;
    color: rgba(255, 255, 255, 0.75);
    /* background: rgba(76, 95, 213, 0.15); */
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(12px) saturate(140%);
    -webkit-backdrop-filter: blur(12px) saturate(140%);
    box-shadow: 0 8px 24px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.05);
    box-sizing: border-box;
    overflow: hidden scroll;
    scrollbar-width: none;
}

.provider-dashboard, .customer-dashboard{
    margin-top: 29vh;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center !important;
}

.admin-dashboard h1{
    width: fit-content;
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.admin-dashboard:hover{
    background: rgba(17, 17, 17, 0.15);
}

.customers, .providers, .verification-requests, .VRD-container{
    margin-top: 25px;
    width: 100%;
}

.admin-dashboard table{
    box-sizing: border-box;
    border-radius: 0.25rem;
}

.tablewrapper{
    overflow-x: scroll;
    scrollbar-width: thin;
}

.verify-request-data{
    width: 100%;
    border: 2px solid rgba(102, 102, 102, 0.75); 
    background: black; 
    color: white;
    z-index: 100; 
    margin-top: 8px; 
    padding: 8px;
    border-radius: 0.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    /* position: absolute; */
}

.verify-request-data p{
    border: 1px solid #444444;
    width: 100%;
    box-sizing: border-box !important;
    text-overflow: ellipsis !important;
    padding: 2px;
}

.verify-request-data img{
    width: 100%;
}

table{
    width: 100%;
    /* border: 2px solid rgba(76, 95, 213, 0.75); */
    border: 2px solid rgba(102, 102, 102, 0.75);
    margin-top: 13px;
}

th{
    /* border: 2px solid rgba(76, 95, 213, 0.75); */
    border: 2px solid rgba(102, 102, 102, 0.75);
    margin: 8px;
}

td{
    /* border: 2px solid rgba(76, 95, 213, 0.75); */
    border: 2px solid rgba(102, 102, 102, 0.75);
    cursor: pointer;
}

th,td{
    padding: 2px;
    text-align: center;
}

.admin-dashboard input{
    border: 2px solid rgba(102, 102, 102, 0.75);
    margin-top: 13px;
}

.admin-dashboard select{
    margin-top: 8px;
}

@media only screen and (min-width: 475px){
    .verify-request-data img{
        width: 260px;
    }
}

@media only screen and (min-width: 546px){
    .tablewrapper{
        scrollbar-width: none;
    }
}

@media only screen and (min-width: 768px){
    .admin-dashboard{
        margin: 25px 0px 25px 0px;
    }
}

@media only screen and (min-width: 1024px){
    .admin-dashboard{
        max-width: 62vw;
        height: 80vh;
        margin: 0;
        padding: 25px;
    }
}

@media only screen and (min-width: 1440px){
    .admin-dashboard{
        max-width: 71vw;
    }
}
