.public-layout, .admin-layout, .provider-layout{
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    border: 2px solid green; 
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.admin-layout span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.public-layout, .admin-layout{
    border: none;
}

@media only screen and (min-width: 1024px){
    .admin-panel{
        width: 100%;
        display: flex;
        flex-direction: row !important;
        justify-content: space-evenly !important;
        margin: 4vw 0 4vw 0;
    }
}